# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.pyc

# Virtual environment
.venv/
venv/
env/
ENV/

# Django
*.log
db.sqlite3
/media/
staticfiles/
migrations/__pycache__/
flashcards/flashcards/settings.py  # sensitive config

# IDE
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db
