{% extends "base/base.html" %}
{% load static %}

{% block title %}Add Flashcard{% endblock title %}

{% block content %}
    <div class="mx-auto col-md-7 pt-4 px-5 " style="min-height: 300px; max-width: 1000px; min-width: 500px">
        <h1 class="ms-3 text-left">Add Flashcard</h1>

        <div class="p-1 rounded-3 border bg-white shadow-sm border-secondary w-100">
            <div class="card-body p-4">
                <form>
                    <div class="row mb-4">
                        <div class="col-md-6 d-flex align-items-center mb-3 mb-md-0">
                            <label for="typeSelect" class="form-label me-3 fw-bold mb-0">Type</label>
                            <select class="form-select rounded border border-dark" id="typeSelect" style="height: 40px;">
                                <option selected>BASIC</option>
                                <option value="1">IDENTIFICATION</option>
                                <option value="2">IMAGE</option>
                            </select>
                        </div>
                        <div class="col-md-6 d-flex align-items-center">
                            <label for="deckSelect" class="form-label me-3 fw-bold mb-0">Deck</label>
                            <select class="form-select rounded border border-dark" id="deckSelect" style="height: 40px;">
                                <option selected>Science</option>
                                <option value="1">Math</option>
                                <option value="2">Automata</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="frontInput" class="form-label fw-bold">Front</label>
                        <input type="text" class="form-control p-3 border border-secondary" id="frontInput" style="height: 40px;">
                    </div>

                    <div class="mb-4">
                        <label for="backInput" class="form-label fw-bold">Back</label>
                        <input type="text" class="form-control p-3 border border-secondary" id="backInput" style="height: 40px;" >
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark btn-lg text d-flex align-items-center text-center justify-content-center" style="max-height: 40px">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}