<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1>Create New Content</h1>

<label for="form-selector">Content Type:</label>
<select id="form-selector">
    <option value="Basic" selected>Basic Card</option>
    <option value="Cloze">Cloze Card</option>
    <option value="Image">Image Occlusion Card</option>
</select>

<hr>

<form method="POST">
    {% csrf_token %}

    <input type="hidden" name="form_type" id="form_type_input" value="post">

    <div id="basic_card_form" class="form-wrapper">
        {{ basic_card_form.as_p }}
    </div>

    <div id="identification_card_form" class="form-wrapper" style="display: none;">
        {{ identification_card_form.as_p }}
    </div>

    <div id="image_occlusion_card_form" class="form-wrapper" style="display: none;">
        {{ image_occlusion_card_form.as_p }}
    </div>

    <button type="submit">Save</button>
</form>

<script>
    // Get the elements
    const selector = document.getElementById('form-selector');
    const hiddenInput = document.getElementById('form_type_input');
    const basicForm = document.getElementById('basic_card_form');
    const identificationForm = document.getElementById('identification_card_form');
    const imageOcclusionForm = document.getElementById('image_occlusion_card_form');

    // Add an event listener to the dropdown
    selector.addEventListener('change', function() {
        const selectedValue = this.value;

        // Update the hidden input's value
        hiddenInput.value = selectedValue;

        // Show/hide the correct form
        if (selectedValue === 'Basic') {
            basicForm.style.display = 'block';
            identificationForm.style.display = 'none';
            imageOcclusionForm.style.display = 'none';
        } else if (selectedValue === 'Cloze') {
            basicForm.style.display = 'none';
            identificationForm.style.display = 'block';
            imageOcclusionForm.style.display = 'none';
        }else if (selectedValue === 'Image') {
            basicForm.style.display = 'none';
            identificationForm.style.display = 'none';
            imageOcclusionForm.style.display = 'block';
        }
    });
</script>
<body>

</body>
</html>