{% extends "base/base.html" %}

{% block title %}User profile{% endblock title %}

{% block content %}
    <div class="mx-auto col-md-10 pt-4 px-5" style="min-height: 300px; max-width: 1000px">
        <div class="row g-5 align-items-start">
            <a href="{% url 'profile' %}" class="text-dark text-decoration-none mb-3 d-inline-block">
                <i class="bi bi-arrow-left fs-4"></i>
            </a>
            <div class="col-md-6">
                <div class="details border border-2 rounded p-4 mt-5">
                    <form method = "POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="userId">UserId</label>
                            </div>
                            <div class="col-6">
                                <input id="userId" class="form-control" placeholder="123123" readonly />
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for = "userId">New Email</label>
<!--                            <input id="email" name="email" class="form-control" placeholder="exmple@example.example" value="{{ form.email.value|default_if_none:'' }}" />-->
                                 {{ form.email }}
<!--                            {{ form.email.errors }}-->
                                {% if form.email.errors %}
                                    <div class="invalid-feedback d-block">
                                        {% for error in form.email.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                        </div>

                        <div class="form-password mb-4 password-container">
                            <label class="form-label mb-1" for="currentPassword">Password</label>
                               <input type="password" id="currentPassword" name="current_password" class="form-control" placeholder="Enter current password" required>
                            {% if error_password %}
                                    <div class="invalid-feedback d-block">
                                        {{ error_password }}
                                    </div>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-dark w-100">Save Changes</button>
                    </form>
                </div>
            </div>


            <div class="col-md-6 d-flex flex-column align-items-center" style="background-color: #f0f0f0; padding: 80px; border-radius: 10px;">
                <h5 class="text-dark mb-4">Profile Picture</h5>
                <i class="bi bi-person-circle" style="font-size: 120px; margin-bottom: 30px;"></i>
            </div>

        </div>
    </div>
{% endblock content %}
