<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tidbit Flashcards Dashboard</title>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'user/css/home_style.css' %}">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <!-- LEFT SIDEBAR TOGGLE BUTTON -->
            <button class="btn btn-outline-secondary me-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#sidebar-container-left"
                    aria-expanded="true" aria-controls="sidebar-container-left">
                <i class="bi bi-list fs-3"></i>
            </button>


            <a class="navbar-brand" href="#">
                <img src="{% static 'assets/tidbiticon.png' %}" width="30" height="30" class="ms-3" alt="">
            </a>

            <div class="d-flex ms-auto align-items-center">
                <i class="bi bi-bell fs-4 me-3"></i>

                <i class="bi bi-person-circle fs-4 me-3"></i>

                <!-- RIGHT SIDEBAR TOGGLE BUTTON -->
                <!-- <button class="btn btn-outline-secondary" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidebar-container-right"
                        aria-expanded="true" aria-controls="sidebar-container-right">
                    <i class="bi bi-info-circle fs-3"></i>
                </button> -->
            </div>
        </div>
    </nav>

    <div class="main-wrapper">
        <div class="collapse d-lg-block show" id="sidebar-container-left">

            <div class="sidebar-content d-flex flex-column flex-shrink-0 p-3 bg-light h-100">
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            <i class="bi bi-house-door me-2"></i>
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark">
                            <i class="bi bi-folder me-2"></i>
                            Your library
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark">
                            <i class="bi bi-bell me-2"></i>
                            Notifications
                        </a>
                    </li>

                <hr>
                    <h3 class="me-2 mb-0 fs-6 ms-3 mb-1">Flashcards</h3>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark">
                            <i class="bi bi-card-text me-2"></i>
                            Flashcards
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark">
                            <i class="bi bi-bar-chart me-2"></i>
                            Stats
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark">
                            <i class="bi bi-plus-square me-2"></i>
                            Add Flashcards
                        </a>
                    </li>
                    <hr>

                    <h3 class="me-2 mb-0 fs-6 ms-3 mb-1">Decks</h3>
                    <!-- temp rani sila -->
                    <h3 class="me-2 mb-0 fs-6 ms-3 mb-1 mt-3">Automata</h3>
                    <h3 class="me-2 mb-0 fs-6 ms-3 mb-1 mt-3">Math</h3>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark">
                            <i class="bi bi-plus-circle me-2"></i>
                            Add Decks
                        </a>
                    </li>

                    <hr>
                </ul>
            </div>
        </div>



        <div id="main-content">
            <h1 class = "ms-3">Decks</h1>
            <div class="p-4 rounded-3 border bg-white shadow-sm" style="min-height: 800px;">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Deck</th>
                        <th scope="col">New</th>
                        <th scope="col">Learn</th>
                        <th scope="col">Due</th>
                         <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Automata
                                 <div class="text-muted small">
                                    State diagrams
                                </div>
                            </td>
                            <td class = "text-primary">20</td>
                            <td class = "text-danger">11</td>
                            <td class = "text-secondary">0</td>
                            <td><i class="bi bi-gear-fill"></i></td>
                        </tr>

                        <tr>
                            <td>
                                Math
                                 <div class="text-muted small">
                                    About math stuff
                                </div>
                            </td>
                            <td class = "text-primary">20</td>
                            <td class = "text-danger">11</td>
                            <td class = "text-success">31</td>
                            <td><i class="bi bi-gear-fill"></i></td>
                        </tr>




                    </tbody>
                </table>
            </div>
        </div>


        <div class="collapse d-lg-block show" id="sidebar-container-right">
            <div class="sidebar-content d-flex flex-column flex-shrink-0 p-3 bg-light h-100">
                <a href="#" class="nav-link text-dark mb-3">
                    <i class="bi bi-arrow-right-circle"></i>
                </a>

                <div class="d-flex align-items-center gap-4">
                    <h3 class="me-2 mb-0 fs-6 ms-1 mb-1 text-dark">Folders</h3>
                    <i class="bi bi-pencil text-dark"></i>
                    <i class="bi bi-folder-plus text-dark"></i>
                    <i class="bi bi-star text-dark"></i>
                </div>

                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <!-- temp ra guro ni sila as for now -->
                    <!--folders -->
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex justify-content-between"
                        data-bs-toggle="collapse" href="#foldersCollapse" role="button"
                        aria-expanded="false" aria-controls="foldersCollapse">
                            Automata
                            <i class="bi bi-chevron-down"></i>
                        </a>

                        <!-- notes-->
                        <div class="collapse" id="foldersCollapse">
                            <ul class="nav flex-column ms-3 mt-2">
                                <li class="nav-item">
                                    <a href="#" class="nav-link text-dark">
                                        Turing Machine
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>