{% extends "base/base.html" %}

{% block title %}User profile{% endblock title %}

{% block content %}
    <div class="mx-auto col-md-10 pt-4 px-5" style="min-height: 300px; max-width: 1000px">
        <div class="row g-5 align-items-start">
            <!-- Details on the left -->
            <div class="col-md-6">
                <div class="details border border-2 rounded p-3">
                    <form>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="userId">UserId</label>
                            </div>
                            <div class="col-6">
                                <input id="userId" class="form-control" placeholder="123123" readonly />
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="username">Username</label>
                            <input id="username" class="form-control" placeholder="notjohndoe123" readonly />
                        </div>

                        <div class="form-password mb-4 password-container">
                            <label class="form-label mb-1" for="passwordInput">Password</label>
                            <input type="password" id="passwordInput" class="form-control" placeholder="*****" readonly>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="email">Email</label>
                            <input id="email" class="form-control" placeholder="johndoe@gmail.com" readonly />
                        </div>

                        <div class="form-password mb-4 password-container">
                            <label class="form-label mb-1" for="dateInput">Created at</label>
                            <input type="date" id="dateInput" class="form-control" readonly>
                        </div>

                        <div class="row mb-4">
                            <div class="col-6">
                                <button type="button" class="btn btn-dark w-100" onclick="window.location.href='{% url 'change_password' %}'">Change Password</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-dark w-100" onclick="window.location.href='{% url 'change_email' %}'">Change Email</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-md-6 d-flex flex-column align-items-center" style="background-color: #f0f0f0; padding: 80px; border-radius: 10px;">
                <h5 class="text-dark mb-4">Profile Picture</h5>
                <i class="bi bi-person-circle" style="font-size: 120px; margin-bottom: 30px;"></i>
                <button type="button" class="btn btn-dark w-100">Change Profile Picture</button>
            </div>

        </div>
    </div>
{% endblock content %}
